<h1><%= t '.admin' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.platform' %></th>
      <th><%= t '.wallet' %></th>
      <th><%= t '.last_scanned' %></th>
    </tr>
  </thead>

  <tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= platform.name %></td>
        <td><%= platform.data['wallet_address'] %></td>
        <td><%= platform.last_scanned_block %></td>
      </tr>
    <% end %>
  </tbody>
</table>
