<h1><%= t '.admin_assets' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.asset_1' %></th>
      <th><%= t '.symbol' %></th>
      <th><%= t '.user_s' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.symbol %></td>
        <td><%= asset.sum_balances %></td>
        <td><%= link_to (t '.check_hot'), asset.wallet_url(asset.platform.hot_wallet_address), target: '_blank' %>
      </tr>
    <% end %>
  </tbody>
</table>
