Hello,

you have received an airdrop into your #{t 'app_name'} account:

Asset: #{@adjustment.asset.name} (#{@adjustment.asset.symbol})
Amount: #{@adjustment.amount}

Please vist #{login_url} to access your funds.

Thank you for using #{t 'app_name'}.
