<%= form_with(model: withdrawal, local: true) do |form| %>
  <% if withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
      <% withdrawal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :receiver_address %>
    <%= form.text_field :receiver_address %>
  </div>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.text_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :submitted_at %>
    <%= form.datetime_select :submitted_at %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :tries %>
    <%= form.number_field :tries %>
  </div>

  <div class="field">
    <%= form.label :error %>
    <%= form.text_field :error %>
  </div>

  <div class="field">
    <%= form.label :error_at %>
    <%= form.datetime_select :error_at %>
  </div>

  <div class="field">
    <%= form.label :signed_transaction %>
    <%= form.text_field :signed_transaction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
