<%= form_with(model: withdrawal, local: true) do |form| %>
  <% if withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
      <% withdrawal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asset_id %>
    <%= form.select :asset_id, Asset.all.map { |asset| [asset.symbol, asset.id] } %>
  </div>

  <div class="field">
    <%= form.label :receiver_address %>
    <%= form.text_field :receiver_address %>
  </div>


  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
