<p id="notice"><%= notice %></p>

<h1><%= t '.my_withdrawals' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.asset_3' %></th>
      <th><%= t '.receiver' %></th>
      <th><%= t '.transaction_1' %></th>
      <th><%= t '.created_at' %></th>
      <th><%= t '.amount_2' %></th>
      <th><%= t '.status_2' %></th>
    </tr>
  </thead>

  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.asset.name %></td>

        <td><%= withdrawal.receiver_address %></td>
        <td><%= withdrawal.transaction_id %></td>
        <td><%= withdrawal.created_at %></td>
        <td><%= withdrawal.amount %></td>
        <td><%= withdrawal.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t '.new_withdrawal'), new_withdrawal_path %>
