<p id="notice"><%= notice %></p>

<h1>My Withdrawals</h1>

<table>
  <thead>
    <tr>
      <th>Coin</th>
      <th>Receiver address</th>
      <th>Transaction</th>
      <th>Created at</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.coin.name %></td>

        <td><%= withdrawal.receiver_address %></td>
        <td><%= withdrawal.transaction_id %></td>
        <td><%= withdrawal.created_at %></td>
        <td><%= withdrawal.amount %></td>
        <td><%= withdrawal.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Withdrawal', new_withdrawal_path %>
