<p id="notice"><%= notice %></p>

<p>
  <%= t '.asset_4_html', :withdrawal => (@withdrawal.asset_id) %>
</p>

<p>
  <%= t '.user_2_html', :withdrawal => (@withdrawal.user_id) %>
</p>

<p>
  <%= t '.receiver_1_html', :withdrawal => (@withdrawal.receiver_address) %>
</p>

<p>
  <%= t '.transaction_2_html', :withdrawal => (@withdrawal.transaction_id) %>
</p>

<p>
  <%= t '.submitted_at_html', :withdrawal => (@withdrawal.submitted_at) %>
</p>

<p>
  <%= t '.amount_3_html', :withdrawal => (@withdrawal.amount) %>
</p>

<p>
  <%= t '.status_3_html', :withdrawal => (@withdrawal.status) %>
</p>

<p>
  <%= t '.tries_html', :withdrawal => (@withdrawal.tries) %>
</p>

<p>
  <%= t '.error_1_html', :withdrawal => (@withdrawal.error) %>
</p>

<p>
  <%= t '.error_at_html', :withdrawal => (@withdrawal.error_at) %>
</p>

<p>
  <%= t '.signed_html', :withdrawal => (@withdrawal.signed_transaction) %>
</p>

<%= link_to (t '.back_2'), withdrawals_path %>
