= form_for @branding do |f|
  - if @branding.errors.any?
    #error_explanation
      %h2= "#{pluralize(@branding.errors.count, "error")} prohibited this branding from being saved:"
      %ul
        - @branding.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :domain
    = f.text_field :domain
  .field
    = f.label :options
    = f.text_area :options
  .field
    = f.label :logo
    = f.file_field :logo
  .actions
    = f.submit 'Save'
