%p#notice= notice

%p
  %b Name:
  = @branding.name
%p
  %b Domain:
  = @branding.domain
%p
  %b Options:
  = @branding.options

= link_to 'Edit', edit_branding_path(@branding)
\|
= link_to 'Back', brandings_path
