<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password do %>
      <span>Password</span>
      <%= link_to " (forgot password)", new_password_reset_path %>
    <%end%>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
  </div>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>