<h1>OTC Orders</h1>

<table>
  <thead>
    <tr>
      <th>Buying Asset</th>
      <th>Selling Asset</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Filled</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.buying_asset.name %></td>
        <td><%= order.selling_asset.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.rate %></td>
        <td><%= order.percent_filled %>%</td>
        <td><%= order.user.display_name %></td>
        <td><%= link_to 'Cancel', order, method: 'delete' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
