<h1><%= t '.otc_orders' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.buying_asset' %></th>
      <th><%= t '.selling_asset' %></th>
      <th><%= t '.quantity' %></th>
      <th><%= t '.rate' %></th>
      <th><%= t '.filled' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.buying_asset.name %></td>
        <td><%= order.selling_asset.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.rate %></td>
        <td><%= order.percent_filled %>%</td>
        <td><%= order.user.display_name %></td>
        <td><%= link_to (t '.cancel'), order, method: 'delete' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t '.new_order'), new_order_path %>
