.container
  %h1.mt-5 Buy/Sell #{ @order.base_asset.name }
  #balances
    %p Available #{ @order.base_asset.symbol }: {{ STATE.balances[baseAssetId] ? STATE.balances[baseAssetId].available : 0.0 }}
    %p Available #{ @order.quote_asset.symbol }: {{ STATE.balances[quoteAssetId] ? STATE.balances[quoteAssetId].available : 0.0 }}
  .card.mb-3
    .card-body
      = render 'form', order: @order
  
  .card-deck
    .card
      .card-header Order book
      .card-body
        %table.table
          %thead
            %tr
              %th Side
              %th= t '.quantity'
              %th= t '.rate'
              %th= t '.filled'
              %th
          %tbody
            - @open_orders.each do |order|
              %tr
                %td= order.side
                %td= order.quantity
                %td= order.market? ? 'any' : order.rate
                %td
                  = order.percent_filled
                  \%
                %td
                  - if order.user == current_user
                    = link_to (t '.cancel'), order, method: 'delete'
    .card#my_orders
      .card-header My open orders
      .card-body
        %table.table
          %thead
            %tr
              %th Side
              %th= t '.quantity'
              %th= t '.rate'
              %th= t '.filled'
              %th
          %tbody
            %tr(v-for="order in STATE.openOrders")
              %td {{ order.side }}
              %td {{ order.quantity }}
              %td {{ order.rate }}
              %td
                %a(:href="`/orders/${order.id}`" data-method="delete" data-remote="true" rel="no-follow" data-confirm="really?") Cancel

:coffeescript
  new Vue
    el: '#balances'
    data: ->
      STATE: STATE
      baseAssetId: #{ @order.base_asset_id }
      quoteAssetId: #{ @order.quote_asset_id.to_i }

  new Vue
    el: '#my_orders'
    data: ->
      STATE: STATE