<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><%= t '.welcome_to' %></h1>
  <p class="lead"><%= t '.introducing' %></p>
  <%= t '.create_token_1_html', :link_to_submit => (link_to (t '.submit'), new_asset_path) %>
  
</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h1 class="display-4 text-center"><%= t '.featured' %></h1>
  <% @featured_assets.in_groups_of(3) do %>
  <div class="row">
    <% for asset in @featured_assets %>
      <div class="col-lg-4">
        <h2><%= asset.name %></h2>
        <p><%= asset.description %></p>
        <p>
          <%= link_to (t '.view_details'), asset, class: 'btn btn-primary' %>
        </p>
      </div>
    <% end %>
  </div>
  <% end %>
  <div class="text-center">
    <a href="/assets" class="btn btn-lg btn-outline-primary"><%= t '.browse_all' %></a>
  </div>
</div>