.container
  .px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
    %h1.display-4= t '.welcome_to'
    %p.lead= t '.introducing'
    = t '.create_token_1_html', :link_to_submit => (link_to (t '.submit'), new_asset_path)
  .px-3.py-3.pt-md-5.pb-md-4.mx-auto
    %h1.display-4.text-center= t '.featured'
    - @featured_assets.in_groups_of(3) do
      .row
        - for asset in @featured_assets
          .col-lg-4
            %h2= asset.name
            %p= asset.description
            %p
              = link_to (t '.view_details'), asset, class: 'btn btn-primary'
    .text-center
      %a.btn.btn-lg.btn-outline-primary{:href => "/assets"}= t '.browse_all'
