%p#notice= notice
%h1= t '.account_1'
%table
  %thead
    %tr
      %th= t '.asset_4'
      %th= t '.change_type_1'
      %th= t '.memo_1'
      %th= t '.amount_3'
      %th{:colspan => "3"}
  %tbody
    - @balance_adjustments.each do |balance_adjustment|
      %tr
        %td= balance_adjustment.asset_id
        %td= balance_adjustment.change_type
        %td= balance_adjustment.memo
        %td= balance_adjustment.amount
        %td= link_to (t '.check'), balance_adjustment.transaction_url, target: '_blank' if balance_adjustment.transaction_url
