= form_for @asset do |f|
  - if @asset.errors.any?
    #error_explanation
      %h2= "#{pluralize(@asset.errors.count, "error")} prohibited this asset from being saved:"
      %ul
        - @asset.errors.full_messages.each do |message|
          %li= message

  .row.form-group
    = f.label :platform_id, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.collection_select(:platform_id, Platform.all, :id, :name, {}, class: 'form-control')
  .row.form-group
    = f.label :address, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :address, class: 'form-control'

  = f.submit 'Submit Contract', class: 'btn btn-primary'
