.container
  %h1 Edit #{@asset.name}

  = form_for @asset, authenticity_token: true do |f|
    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control'
      %small.form-text.text-muted Please provide some further information, eg. tokenholder benefits
    .form-group
      = f.label :website
      = f.text_field :website, class: 'form-control'
    .form-group
      .row
        .col-md-4
          = f.label :logo
          .custom-file
            = f.file_field :logo, class: 'custom-file-input', id: "logo", direct_upload: true
            = f.label :logo, "Choose", class: 'custom-file-label', for: "logo"
        .col-md-4
          = f.label :background_image
          .custom-file
            = f.file_field :background, class: 'custom-file-input', id: "background", direct_upload: true
            = f.label :background, "Choose", class: 'custom-file-label', for: "background"
        .col-md-4
          = f.label 'Whitepaper (English)'
          .custom-file
            = f.file_field :whitepaper_en, class: 'custom-file-input', id: "whitepaper", direct_upload: true
            = f.label :whitepaper_en, "Choose", class: 'custom-file-label', for: "whitepaper"

    .form-group.page_content
      = f.label :page_content
      = text_area_tag 'asset[page_content][][html]', @asset.page_content.try(:[], 0).try(:[], 'html'), id: 'redactor', class: 'redactor'
    = f.submit 'Save changes', class: 'btn btn-primary'
    = link_to 'Cancel', @asset

  :javascript
    $('.custom-file-input').on('change', function() { 
      let fileName = $(this).val().split('\\').pop(); 
      $(this).next('.custom-file-label').addClass("selected").html(fileName); 
    });