%h1 Edit #{@asset.name}

= form_for @asset do |f|
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
    %small.form-text.text-muted Please provide some further information, eg. tokenholder benefits
  = f.submit 'Save changes', class: 'btn btn-primary'
