.container
  %h1.mt-5 #{current_quote_asset.symbol} Market
  %p Sorted by 24h volume
  .card
    .card-body
      = paginate @assets, theme: 'twitter-bootstrap-4'
      %table.table
        %tr
          %th Asset
          %th 24h volume
          %th Price chart (last 7 days)
        - @assets.each do |asset|
          - cache asset, expires_in: 1.minute do
            %tr
              %td= link_to asset.name, asset
              %td
                = asset.volume_24h(current_quote_asset)
                = current_quote_asset.symbol
              %td
                = line_chart asset.hourly_prices(current_quote_asset), height: '66px', width: '320px'
      = paginate @assets, theme: 'twitter-bootstrap-4'
