.asset_top_wrapper(style="background-position:center;background-size:cover;background-image:url('#{url_for @asset.background if @asset.background.attached?}')")
  .container
    .hero_well
      .logo= image_tag(url_for @asset.logo.variant(resize: '100x100')) if @asset.logo.attached?
      .name= @asset.name
      %hr
      .description= @asset.description
      %p Platform: #{ @asset.platform.name }
      %p Explore: #{ link_to @asset.address, @asset.explorer_url }
    .buttons
      - if @asset.whitepaper_en.attached?
        = link_to (t '.whitepaper_en'), rails_blob_path(@asset.whitepaper_en, disposition: "attachment"), class: 'btn btn-primary btn-lg'
      - else
        .btn.btn-primary.btn-lg Whitepaper coming soon
      = link_to t((current_user && current_user.available_balance(@asset) > 0) ? '.trade_now' : '.buy_now'), new_order_path(order: {base_asset_id: @asset.id}), class: 'btn btn-primary btn-lg'
.bg-white
  .container.pt-5.pb-5
    .row
      .col-sm-3.text-center
        .asset-stat-header Total Supply
        .asset-stat #{ number_with_delimiter @asset.total_supply } #{ @asset.symbol }
      .col-sm-3.text-center
        .asset-stat-header 24h Volume
        .asset-stat #{ number_with_delimiter @asset.volume24h(current_quote_asset) } #{ current_quote_asset.symbol }
      .col-sm-3.text-center
        .asset-stat-header Buy Price
        .asset-stat #{ @asset.buy_price(current_quote_asset) || 'N/A'} #{ current_quote_asset.symbol }
      .col-sm-3.text-center
        .asset-stat-header Sell Price
        .asset-stat #{ @asset.sell_price(current_quote_asset) || 'N/A'} #{ current_quote_asset.symbol }

.page_content
  .container
    - if @asset.page_content
      - for content in @asset.page_content      
        .pt-5.pb-5
          = raw content['html']
    - else
      .pt-5.pb-5= t '.no_info_available'
.container
  - if @asset.managable_by?(current_user)
    = link_to (t '.edit'), edit_asset_path(@asset), class: 'btn btn-primary'
    = link_to (t '.new_airdrop'), new_airdrop_path(airdrop: {asset_id: @asset.id}), class: 'btn btn-primary'
    = link_to (t '.deposit'), new_deposit_path(asset_id: @asset.id), class: 'btn btn-primary'