<%= form_with(model: [:admin, balance_adjustment], local: true) do |form| %>
  <% if balance_adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.prohibited', :balance => (pluralize(balance_adjustment.errors.count, "error") ) %></h2>

      <ul>
      <% balance_adjustment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asset_id %>
    <%= form.select :asset_id, Asset.all.map { |asset| [asset.symbol, asset.id] } %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.all.map { |user| [user.email, user.id] } %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_field :memo %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
