<%= form_with(model: authorization_code, local: true) do |form| %>
  <% if authorization_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authorization_code.errors.count, "error") %> prohibited this authorization_code from being saved:</h2>
      <ul>
        <% authorization_code.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="row form-group">
    <div class="col-sm-4">
      <%= form.email_field :email, :placeholder =>:email, :required => true, class: "form-control", type: "email" %>
    </div>
    <div class="col-sm-3">
      <%= form.submit "Send me the link", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
<br/>