<p id="notice"><%= notice %></p>

<h1>Authorization Codes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Token</th>
      <th>Used at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorization_codes.each do |authorization_code| %>
      <tr>
        <td><%= authorization_code.user_id %></td>
        <td><%= authorization_code.token %></td>
        <td><%= authorization_code.used_at %></td>
        <td><%= link_to 'Show', authorization_code %></td>
        <td><%= link_to 'Edit', edit_authorization_code_path(authorization_code) %></td>
        <td><%= link_to 'Destroy', authorization_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorization Code', new_authorization_code_path %>
