.container
  %h1.mt-5 Trade History
  %p 
    Showing history for 
    - if @asset
      = @asset.name
    - else
      All trades
  / %p Sorted by 24h volume
  .card
    .card-body
      = paginate @trades, theme: 'twitter-bootstrap-4'
      %table.table
        %tr
          %th Trade id
          %th Date / Time
          %th Trade Amount (Base)
          %th Trade Amount (Quote)
          %th Price
        - @trades.each do |trade|
          - cache trade, expires_in: 1.minute do
            %tr
              %td= trade.id
              %td
                = trade.created_at
              %td
                = trade.base_type
                = trade.transaction_base
                = trade.base_asset_name
              %td
                = trade.quote_type
                = trade.transaction_base * trade.transaction_price
                = trade.quote_asset_name
              %td
                = trade.price
                = trade.quote_asset_name
      = paginate @trades, theme: 'twitter-bootstrap-4'
