!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= t 'app_name'
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    - if @no_cache
      %meta(name="turbolinks-cache-control" content="no-cache")
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_tag do
      __INITIAL_STATE__= {
      assets: #{raw Asset.all.to_json(only: [:id, :name], methods: [:symbol, :explorer_url])},
      platforms: #{raw Platform.all.to_json(only: [:id], methods: [:name])},
      authenticity_token: #{raw form_authenticity_token.to_json},
      - if current_user
        balances: #{raw current_user.cached_balances_json}
      }
    = javascript_pack_tag 'app', integrity: true
    = javascript_include_tag 'application', integrity: true
    
    = stylesheet_link_tag    'application', media: 'all'
  %body{class: params[:controller]}
    - if current_user.try(:admin?)
      %nav.navbar.navbar-dark.bg-dark.fixed-bottom.navbar-expand-lg
        .nav-item Admin Menu 
        .nav-item= link_to 'Platforms', admin_platforms_path
        .nav-item= link_to 'Withdrawals', admin_withdrawals_path
        .nav-item= link_to 'Assets', admin_assets_path
    %nav.navbar.sticky-top.navbar-light.bg-white.border-bottom.navbar-expand-lg
      = link_to image_tag('logo_name.png', height: 19), root_path, class: 'navbar-brand mr-auto'
      - if current_user
        .nav-item= "Logged in as #{current_user.email}"
        .nav-item= link_to 'My Balances', '/balances', class: 'p-2 text-dark'
        .nav-item= link_to 'Account History', '/balance_adjustments', class: 'p-2 text-dark'
        .nav-item= link_to 'Log Out', logout_path, method: :delete, class: 'p-2 text-dark'
      - else
        / not logged in
        .nav-item= link_to (t '.log_in'), login_path
      .dropdown.nav-item
        %a#dropdownMenuButton.nav-link.dropdown-toggle{"href" => "#", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          = I18n.locale
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
          = link_to (t '.english'), {locale: 'en'}, class: 'dropdown-item'
          = link_to (t '.japanese'), {locale: 'ja'}, class: 'dropdown-item'
    .container
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-warning= alert
    = yield
    .container
      %footer.pt-4.my-md-5.pt-md-5.border-top
        .row
          .col-md-5.text-muted.text-left
            = t '.coypright_2018'
          .col-md-2.text-center
            = image_tag 'logo.png', class: 'mb-2', width: 24, height: 24
          .col-md-5.text-muted.text-right
            = link_to (t '.contact'), page_url(:contact), class: 'text-muted'
            = t '.deposits', :status_first => (Status.first.last_deposits_ran_at > 2.minutes.ago ? 'OK' : 'Stopped')
            = t '.withdrawals_1', :status_first => (Status.first.last_withdrawals_ran_at > 2.minutes.ago ? 'OK' : 'Stopped')

// XXX: move code into a bundled javascipt file
= javascript_include_tag '/redactor/redactor.min.js'
= javascript_include_tag '/redactor/_plugins/alignment/alignment.min.js'
= javascript_include_tag '/redactor/_plugins/imagemanager/imagemanager.min.js'
= javascript_include_tag '/redactor/_plugins/table/table.min.js'
= javascript_include_tag '/redactor/_plugins/video/video.min.js'
= stylesheet_link_tag '/redactor/redactor.min.css'
:javascript
  document.addEventListener("turbolinks:load", function() {
    var csrf_token = $('meta[name=csrf-token]').attr('content');
    var csrf_param = $('meta[name=csrf-param]').attr('content');
    var params = {};
    if (csrf_param !== undefined && csrf_token !== undefined) {
        params[csrf_param] = csrf_token;
    }
    $R('.redactor', {
      styles: false,
      plugins: ['alignment', 'video', 'imagemanager', 'table'],
      imageResizable: true,
      imagePosition: true,
      imageManagerJson: '/pictures',
      imageUpload: '/pictures',
      imageData: params,
      clipboardUploadUrl: '/pictures',
      clipboardData: params
    })
  })
