<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_name' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', integrity: true %>

    <%= javascript_tag do %>
      __INITIAL_STATE__= {
        assets: <%= raw Asset.all.to_json(only: [:id, :name], methods: [:symbol, :explorer_url]) %>,
        platforms: <%= raw Platform.all.to_json(only: [:id], methods: [:name]) %>,
        authenticity_token: <%= raw form_authenticity_token.to_json %>,
        <% if current_user %>
          balances: <%= raw current_user.cached_balances_json %>
        <% end %>
      }
    <% end %>

    <%= javascript_pack_tag 'app', integrity: true %>

  </head>

  <body>
    <% if current_user.try(:admin?) %>
      <div class="admin">
        Admin Menu: <%= link_to 'Platforms', admin_platforms_path %> | <%= link_to 'Withdrawals', admin_withdrawals_path %> | <%= link_to 'Assets', admin_assets_path %>
      </div>
    <% end %>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to (t 'app_name'), root_path %></h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= I18n.locale %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to (t '.english'), {locale: 'en'}, class: 'dropdown-item' %>
          <%= link_to (t '.japanese'), {locale: 'ja'}, class: 'dropdown-item' %>
        </div>
      </div>

      <nav class="my-2 my-md-0 mr-md-3">
        <% if current_user %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to 'My Balances', '/balances', class: 'p-2 text-dark' %>	
          <%= link_to 'Account History', '/balance_adjustments', class: 'p-2 text-dark' %>	
          <%= link_to 'Log Out', logout_path, method: :delete, class: 'p-2 text-dark' %>
        <% else %>
          <!-- not logged in -->
          <%= link_to (t '.log_in'), login_path %>
        <% end %>
        <%# = link_to 'Orders', '/orders', class: 'p-2 text-dark' %>
        <%# <a class="p-2 text-dark" href="#">Enterprise</a> %>
        <%# <a class="p-2 text-dark" href="#">Support</a> %>
        <%# <a class="p-2 text-dark" href="#">Pricing</a> %>
      </nav>
      <%# <a class="btn btn-outline-primary" href="#">Create Token</a> %>
    </div>
    
    <div class="container">
    
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>

      <%= yield %>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <%= image_tag 'logo.png', class: 'mb-2', width: 24, height: 24 %>
            <small class="d-block mb-3 text-muted"><%= t '.coypright_2018' %></small>
          </div>
          <div class="col-6 col-md">
            <h5><%= t '.company' %></h5>
            <ul class="list-unstyled text-small">
              <li><%= link_to (t '.contact'), page_url(:contact), class: 'text-muted' %></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><%= t '.resources' %></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/token_studio"><%= t '.create_token' %></a></li>
              <li><a class="text-muted" href="/assets/new"><%= t '.submit_token' %></a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5><%= t '.status_1' %></h5>
            <ul class="list-unstyled text-small">
              <li class="text-muted"><%= t '.deposits', :status_first => (Status.first.last_deposits_ran_at > 2.minutes.ago ? 'OK' : 'Stopped') %></li>
              <li class="text-muted"><%= t '.withdrawals_1', :status_first => (Status.first.last_withdrawals_ran_at > 2.minutes.ago ? 'OK' : 'Stopped') %></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
