<!DOCTYPE html>
<html>
  <head>
    <title>NewArt Technology</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', integrity: true %>

    <%= javascript_tag do %>
      __INITIAL_STATE__= {
        assets: <%= raw Asset.all.to_json(only: [:id, :name], methods: [:symbol, :explorer_url]) %>,
        <% if current_user %>
          balances: <%= raw current_user.cached_balances_json %>
        <% end %>
      }
    <% end %>

    <%= javascript_pack_tag 'app', integrity: true %>

  </head>

  <body>
    <% if current_user.try(:admin?) %>
      <div class="admin">
        Admin Menu: <%= link_to 'Balance Adjustments', admin_balance_adjustments_path %> | <%= link_to 'Platforms', admin_platforms_path %> | <%= link_to 'Withdrawals', admin_withdrawals_path %> | <%= link_to 'Assets', admin_assets_path %>
      </div>
    <% end %>
    <h1><%= link_to 'NewArt Technology', root_path %></h1>
    <p><%= link_to 'OTC', '/orders' %></p>
    <% if current_user %>
      <div class="user">
        <%= "Logged in as #{current_user.email}" %> | <%= link_to 'My Balances', '/balances' %> | <%= link_to 'Account History', '/balance_adjustments' %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      </div>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Log In', login_path %>
    <% end %>
    <hr>
    
    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>

    <%= yield %>
  </body>
</html>
